@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.flex-space-between{
    justify-content: space-between;
}

.tile{
    background-color: rgba(255, 195, 0, 1);
    border-radius: 37px;
    width: 700px;
    height: 158px;
    min-height: 158px;
    overflow: hidden;
    /* margin-bottom: 48px; */
    transition: ease-in .2s; 

}

.border:hover {
    transition: ease .2s;
    transform: Scale(1.2);
    box-shadow: 19px 20px 9px -2px rgba(255, 123, 0, 0.68);
    border-width: 3px;
    background-size: calc(150% + 6px) calc(150% + 6px);
    background-position-y: -3px;
    background-position-x: -3px;
    height: calc(158px + (56px)/1.2);
}

.border:hover > .tile{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.border:hover::after{
    margin: 0px;
    position: relative;
    content: "More";
    text-align: center;
    width: 700px;
    min-height: 50px;
    background-color: rgba(255, 234, 0, 1);
    width: calc(700px + 6px);
    left: -3px;
    bottom: 0px;
    border-radius: 0px 0px 37px 37px;
    font-size: 26px;
    transition: inherit;
}


.border{
    transition: ease-in .2s;
    width: 700px;
    height: 158px;
    border-style: solid;
    border-width: 0px;
    border-radius: 37px;
    border-color: transparent;
    background-image: linear-gradient(180deg, rgba(255,234,0,1) 0%, rgba(255,123,0,1) 100%);
    margin-bottom: 48px;
    /* overflow: hidden; */
    box-sizing:content-box;
    margin-top: 14px;
}


/* .border{
    border-radius: 80px;
    border-width: 40px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00,#3020ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
} */


.align-center{
    align-items: center;
}

.tile > .m_image{
    width: 260px;
    height: auto;
    background-image: url("/hunter.jpg");
    background-size:auto 191px;
    background-position-x: center;
}

.tile > .short-description{
    width: 440px;
}

.short-description > h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 13px;
    font-weight: 400;
    opacity: 76%;
    margin-bottom: 28px;
}

.short-description > p{
    font-family: 'Roboto', sans-serif;
    margin-left: 36px;
    text-align: left;
    font-size: 24px;
    font-weight: 300;
}




