@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.flex-space-between{
    justify-content: space-between;
}

.tile{
    background-color: rgba(255, 195, 0, 1);
    border-radius: 37px;
    width: 700px;
    height: 158px;
    overflow: hidden;
}

.tile > .m_image{
    width: 260px;
    height: auto;
    background-image: url("/hunter.jpg");
    background-size:auto 191px;
    background-position-x: center;
}

.tile > .short-description{
    width: 440px;
}

.short-description > h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 13px;
    font-weight: 400;
    opacity: 76%;
    margin-bottom: 28px;
}

.short-description > p{
    font-family: 'Roboto', sans-serif;
    margin-left: 36px;
    text-align: left;
    font-size: 24px;
}




