{%extends "layout.html"%}
    
    {%block link%}
        <link rel="stylesheet" href="../static/main.css">
        <title>Anime Watch List</title>
    {%endblock%}

    {%block nav%}

    <input class="m_btn" type="submit" name="accout" value="Accout" disabled>
    <input class="m_btn log_out" type="submit" name="log_out" value="Log out">
    {%endblock%}

{%block body%}
    <svg class="logo" width="133" height="78" viewBox="0 0 133 78" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect y="14.8389" width="26.0513" height="69.1542" transform="rotate(-34.722 0 14.8389)" fill="#FFDD00"/>
        <rect x="39.6372" y="15.1533" width="26.0513" height="69.1542" transform="rotate(-34.722 39.6372 15.1533)" fill="#FFDD00"/>
        <g filter="url(#filter0_d_48:24)">
        <rect x="111.036" y="2.68311" width="26.0513" height="69.1542" transform="rotate(46.4059 111.036 2.68311)" fill="#FFD000"/>
        </g>
        <defs>
        <filter id="filter0_d_48:24" x="56.9519" y="2.68311" width="76.0481" height="74.5525" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="4"/>
        <feGaussianBlur stdDeviation="2"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_48:24"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_48:24" result="shape"/>
        </filter>
        </defs>
        </svg>
    
            
        
    </nav>
    <div class="m_main_content">
        <h3>Watched</h3>
        <div class="watched">
            <!-- this div element represents whole "anime-element" -->
            <div class="border">
                <div class="tile">
                    <div class="photo-and-description">
                        <div class="m_image"></div>
                        <div class="short-description">
                            <h1>Hunter x Hunter</h1>
                            <p>Rating: ☆☆☆☆☆</p>
                            <p>Genres: Shonen, Fantasy, Pedo... </p>
                        </div>    
                    </div>
                    <div class="user_comment_inactive"></div>
                    <div class="m_more_button_inactive"></div>
                </div>
            </div>
        </div>
        <h3>Unwatched</h3>
        <div class="error">
            <p>{{errmsg}}</p>
        </div>
        
    </div>

    <div class="add-tile-button m_button">Add Title</div>
    

    {%endblock%}
{%block scripts%}
    <script src="../static/script.js"></script>    
    <script src="../static/main.js"></script>
{%endblock%}