{%extends "layout.html"%}


{%block link%}
    <link rel="stylesheet" href="../static/register.css">
{%endblock%}
{%block body%}

<!-- using this div to center registration window in center of screen -->
<div class="content_container">
    <!-- registration window itself -->
    <div class="registration-window">
        <form action="/registered" method="post">
            <input class="m_btn" style="width: calc(485px*0.6);
                                        height: calc(81px*0.6);"
                                         type="text" name="username" placeholder="Username">
            <input class="m_btn" style="width: calc(485px*0.6);
                                        height: calc(81px*0.6);"
                                        type="password" name="password" placeholder="Password">
            <input class="m_btn" style="width: calc(485px*0.6);
                                        height: calc(81px*0.6);"
                                        type="password" name="password-confirmation" placeholder="Confirm">
            <input class="m_btn anime-list-text-field" list="titles" style="width: calc(485px*0.6);
                                        height: calc(81px*0.6);"
                                         type="text" name="favourite_title" placeholder="Your Facourite Title">
            <datalist class="m_btn" name="f" id="titles" style="width: calc(485px*0.6);
                                                        height: calc(81px*0.6);">
                <option value="Hunter X Hunter">Hunter X Hunter</option>
                <option value="Shaman King">Shaman King</option>
                <option value="Naruto">Naruto</option>
                <option value="Toro Doro">Toro Doro</option>
                
            </datalist>
            <input class="m_btn" style="width: calc(244px*0.6);
                                        height: calc(59px*0.6);
                                        background-color: #FFDD00;
                                        color: #FF7E00;
                                        padding-left: 0px;"
                                        type="submit" name="Register" value="Register">
        </form> 
    </div>
    <div class="error">
        <p>{{errmsg}}</p>
    </div>
</div>

{%endblock%}